<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<header>
    <nav class="navbar-container">
        <div class="logo">
            <img src="assets/resellicon.png" alt="Resell Sneaker Logo" 
                 (click)="navigateToTarget3()" 
                 class="logo-img">
        </div>

        <div class="nav-icons">
            <div class="search-container">
                <input type="text" placeholder="Mit keresel?" class="search-input">
                <i class="fas fa-search search-icon"></i>
            </div>
            
            <a [routerLink]="['/resell-user']" class="icon-btn">
                <i class="fas fa-user"></i>
            </a>
            
            <a [routerLink]="['/resell-cart']" class="icon-btn cart-btn">
                <i class="fas fa-shopping-cart"></i>
                <span *ngIf="cartCount > 0" class="icon-count">{{ cartCount }}</span>
            </a>
            
            <button class="icon-btn hamburger-btn" (click)="toggleMenu()">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <ul class="mobile-nav" [class.active]="isMenuActive">
            <li><button (click)="filterByCategory('Férfi')">Férfi</button></li>
            <li><button (click)="filterByCategory('Női')">Női</button></li>
            
            <li>
                <button (click)="toggleQualityMenu()">Minőség</button>
                <ul class="submenu" [class.active]="qualityMenuActive">
                    <li><button (click)="filterByQuality('Új')">Új</button></li>
                    <li><button (click)="filterByQuality('Újszerű')">Újszerű</button></li>
                    <li><button (click)="filterByQuality('Használt')">Használt</button></li>
                </ul>
            </li>
            
            <li>
                <button (click)="toggleBrandMenu()">Márkák</button>
                <ul class="submenu" [class.active]="brandMenuActive">
                    <li *ngFor="let brand of brands">
                        <button (click)="filterByBrand(brand)">{{ brand }}</button>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
